<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet/css" type="text/css" href="./style.css" />
    </head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">
  <p>First Name : <input type="text" ng-model="fname"></p>
  <p>Last Name : <input type="text" ng-model="lname"></p>
  <p>Phone Number : <input type="text" ng-model="phone"></p>
  <h3>Entered data: {{fname}} {{lname}} | {{phone}}</h3>
</div>

</body>
</html> 